@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
/* #99A2CE */

:root{
    --color-primary:#99A2CE;
    --color-secondary:#6CF8FC;
    --color-third:#541527;
    --color-special:#F2F2F2;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}

/* custom Classes */

.font-dancing{
    font-family: 'Dancing Script', cursive;
}

.no-bottom-shadow {
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* top only */
}



@layer utilities{
    .border-trl {
        @apply border-t border-r border-l border-gray-300
    }

    .border-lr{
         @apply border-r border-l border-gray-300
    }

    .hover-links{
        @apply hover:text-red-500 transition duration-500 ease-in-out
    }
    .line{
        @apply text-gray-300 my-2
    }
    .line-verticle{
        @apply border-l border-gray-300
    }
}




/* 🧩 Reusable Components */

@layer components{
   .btn{
      @apply  bg-black p-1.5 rounded mt-2 text-white cursor-pointer
   }
   .btn:hover{
    @apply bg-black/80  duration-500 ease-in-out
   }
   .btn_dashboard{
    @apply flex justify-center items-center gap-2 mx-auto p-1 bg-black w-full text-white font-light text-sm rounded cursor-pointer
   }
   .btn_dashboard:hover{
     @apply bg-black/80  duration-500 ease-in-out
   }
}